

.mytxt {
    color:#333;
    line-height:normal;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    font-size:15px;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-shadow:0px 1px 2px #fff;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position-x:left;
    background-position-y:top;
    background-size:auto;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:rgb(255,255,255);
    margin-right:8px;
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#ccc;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
}
.mytxt:focus {
     border: 1px solid #fafafa;
    -webkit-box-shadow: 0px 0px 6px #007eff;
     -moz-box-shadow: 0px 0px 5px #007eff;
     box-shadow: 0px 0px 5px #007eff;   
    
}
.myfont{
	color:#333;
    line-height:normal;
	font-family:"YouYuan",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
	 margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    font-size:14px;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
	
}
  .div{ float:left;width:49%} 
  .bor{border-style :none;width:70px;height:25px;margin-top:10px;background: transparent; } span{display:block}/*css注释说明：让span形成块*/ 
  .bor1{border-style :none;width:200px;height:80px;background: transparent; }
  .bor2{border-style :none;width:200px;height:25px;background: transparent; }
  input:hover{background-color:#369;  color:#fff;}
  
.container-body{overflow-y:auto;}
.container-ct{
    margin:20px 20px 20px 20px;
    overflow:hidden;
    *zoom: 1;
    font-family:”Microsoft YaHei”;
    font-family:”\5FAE\8F6F\96C5\9ED1”;
}
.container-left
{
    background-color:#99CCCC;
    float:left; 
    width:650px;
}
.container-right
{
    background-color:#FFFFFF;
    float:left;
    width:0;
}



.left-move{position:relative;left:30px;}
.top-move{position:relative;top:10px;}




    .center{text-align: center;}
    .login-page {
      width: 360px;
      margin: auto;
    }
    .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;

      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
	.form div {
      outline: 0;
      width: 100%;
      border: 0;
      padding: 0 0 15px;
	  display: inline;
    }
    .form button {
      font-family: "Microsoft YaHei","Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
	  margin:0 15px 15px 0; 
    }
    .form button:hover,.form button:active,.form button:focus {
      background: #43A047;
    }
	#phone:hover,#phone:active,#phone:focus {
      background: #43A047;
    }
	#phone{
      font-family: "Microsoft YaHei","Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 8px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
    }
	
    .form .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }
    .form .message a {
      color: #4CAF50;
      text-decoration: none;
    }
    .form .register-form {
      display: none;
    }
	.form .register-phone {
      display: none;
    }
	.form .register-weixin {
      display: none;
    }
    .container {
      position: relative;
      z-index: 1;
      max-width: 300px;
      margin: 0 auto;
    }
    .container:before, .container:after {
      content: "";
      display: block;
      clear: both;
    }
    .container .info {
      margin: 50px auto;
      text-align: center;
    }
    .container .info h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;
      color: #1a1a1a;
    }
    .container .info span {
      color: #4d4d4d;
      font-size: 12px;
    }
    .container .info span a {
      color: #000000;
      text-decoration: none;
    }
    .container .info span .fa {
      color: #EF3B3A;
    }	
    .shake_effect{
        -webkit-animation-name: shake;
        animation-name: shake;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }
	.htmleaf-container{
		display:none;
	}
	
    @-webkit-keyframes shake {
      from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
      }

      20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
      }
    }

    @keyframes shake {
      from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

      10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
      }

      20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
      }
    }
    p.center{
        color: #fff;font-family: "Microsoft YaHei";
    }
	
	



















@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.div-left {
    float:left;
    width:89%;
}
.hoverboder{
    border:2px dashed #00ff7f;
}
.div-headpicture {
    margin:30px 0px 30px 60px;
}

.div-information {
    margin:10px 0px 0px 30px;
    font-size:14px;
    font-family: Verdana, Geneva, sans-serif;
}

.block-inline {
    display:inline-block;
}

.information-padding {
    padding:0px 10px 0px 10px;
    margin:0px 0px 0px 10px;
}

.div-head {
    margin:20px 0px 0px 0px;
}




.clear-float {
    overflow:hidden;
}

.m_title {
    float:left;
}

.div-float {
    float:left;
    width: 30%;
    margin: 20px 20px 20px 0px
}

.clearfloat {
    overflow: auto
}

.headimg {
    width:60px; height:60px;margin-top:4px;
}

.onerow {
    float:left;
}

.div-right {
    float:left;
    width:89%;
}


.placeholder:empty::before
{
    content: attr(placeholder);
}
.width-three {
    width:30%
}
.fix-top{
    margin:2px 2px 2px 2px;
}
.fix-bottom{
    margin:4px 2px 2px 2px;
}